page{
  width: 100%;
  min-height: 100%;
  background-color: #fff;
}
.c-banner-wrap{
  // height: 320rpx;
  // overflow: hidden;
  .slide-image-view{
    height: 320rpx;
  }
}
.index-wap{
  padding-bottom:100rpx;
  height: 100vh;
  overflow-y:scroll ;
  -webkit-overflow-scrolling:touch;
  &.hidden{
    overflow:hidden
  }
  .cinemas {
    padding: 0 40rpx;
    background-color: #fff;
    &>view {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 40rpx 0;
      /*dpr*/
      border-bottom: 1rpx solid #f0f0f0;
    }
    .movie-img {
      width: 127rpx;
      height: 180rpx;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    .movie-info {
      width: 364rpx;
      font-size: 24rpx;
      line-height: 34rpx;
      color: #666;
      .movie-name {
        font-weight: bold;
        font-size: 32rpx;
        line-height: 44rpx;
        color: #333333;
      }
      .movie-other {
        font-family: PingFangSC-Regular;
        color: #333333;
        margin-top: 4rpx;
      }
      .movie-director {
        margin-top: 22rpx;
      }
      .movie-actor {
        margin-top: 4rpx;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .cinema-link {
      width: 120rpx;
      height: 52rpx;
      color: #fff;
      font-size: 24rpx;
      text-align: center;
      line-height: 52rpx;
      background-image: linear-gradient(0deg, #FF7869 0%, #FF4338 99%);
      border-radius: 200rpx;
      &.end {
        font-size: 24rpx;
        color: #fff;
        margin-top: 4rpx;
        background: #E0E0E0
      }
    }
  }
}

.tips{
  font-size: 24rpx;
  color: #70ccff;
  width: 100%;
  height: 106rpx;
  line-height: 106rpx;
  background: rgba(246,246,246,0.40);
  &::before {
    display: inline-block;
    vertical-align: middle;
    margin: 0 20rpx 0 40rpx;
    content: '';
    width: 50rpx;
    height: 50rpx;
    background: url('http://inimg02.jiuyan.info/in/2018/03/16/5DFD04E9-0D0D-6CA4-1879-00FB733ADB47.png') no-repeat;
    background-size: 50rpx;
    background-position: center;
  }
}