.btn{
    position: fixed;
    bottom: 50rpx;
    left: 40rpx;
    width: 670rpx;
    height: 80rpx;
    line-height: 80rpx;
    font-size: 32rpx;
    color: #fff;
    text-align: center;
    background-image: linear-gradient(-90deg, #FC7E70 0%, #FB655C 100%);
    border-radius: 200rpx;
}